/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    max-width: 1440px;
}

/*HEADER*/
.intro{    
    background: url('../img/bg-hero-desktop.svg') no-repeat;
    background-color: #EDFBFE;  
    padding-bottom: 40px;
    
}

.nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;    
}

.menu{
    margin: 20px 60px;
    
    
}

.menu button{
    background-color: #fff;
    border-radius: 50px;
    font-weight: 700;
    border: none;
    padding: 10px 40px;
    box-shadow: 0 0 1em #d6d6d6;
}

.menu button:hover{
    background-color: #ff51c0;
    color: #fff;
}

.menu img{
    width: 190px;
}

h1{
    font-size: 1.625em;
    font-weight: 800;
}

.info{
    
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 60px;
    align-items: center;
}

.descricao{
    
    margin: 0 auto;
    flex: 1;
    line-height: 1.5em;
}

#text{
    margin-right: 100px;
}

.descricao h1{
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
}

.descricao p{
    margin-bottom: 30px;
}

.descricao img{
    width: 700px; 
}

.descricao button{
    background-color: #ff51c0;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    padding: 15px 30px;
    box-shadow: 0 0 1em #d6d6d6;
    margin: 0 auto;
}

.descricao button:hover{
    background-color: #fff;
    color: #000;
}
/*SECTION CONTAINER*/
.container{
    max-width: 1100px;
    margin: 80px auto;
}

.box{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    align-items: center;
    border: none;
    box-shadow: 0 0 1em #d6d6d6;
    border-radius: 20px;
}

.conteudo{
    margin: 40px 80px;
}

.conteudo h2{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 800;
}

.conteudo p{
    color: #797979;
    line-height: 20px;
}

.conteudo img{
    width: 300px;
}

/*SECTION FINAL*/
.final{   
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    z-index:4;
    
}

.conteudo-final{     
    padding: 30px 70px;   
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 1em #d6d6d6;
    z-index:4;
    background-color: #fff;
}

.conteudo-final h2{
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 800;
}

.conteudo-final button{
    background-color: #ff51c0;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    padding: 20px 80px;
    box-shadow: 0 0 1em #d6d6d6;
}   

.conteudo-final button:hover{
    background-color: #fff;
    color: #000;
}

/*FOOTER*/
.rodape{
    z-index: 0;
    margin-top: -60px;
    padding-top: 70px;
    background-color: #00252e;
    color: #fff;    
}

.logo-footer{    
    margin: 20px 140px;
}

.conteudo-footer{   
    max-width: 1100px;
    margin: 0 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; 
}

.info-footer{    
    flex: 1;
    display: flex;
    flex-wrap: wrap; 
    margin-right: 50px;  
}

.conteudo-info{
    margin-bottom: 20px;       
}

.conteudo-info img{    
    margin-right: 10px;
}

.conteudo-info span {
    
}

.info-footer ol li{    
    list-style-type: none;
    column-width: 70px;
    column-count: 2;
    margin-bottom: 10px;
}

.info-footer ol li:nth-child(odd) {
    float:left;   
}

.info-copy{
    padding-bottom: 30px;
    margin: 0 60px;
    text-align: right;
}

.info-footer .rede-social{
    margin-left: 10px;
}

.info-footer .rede-social img{
    width: 30px;
}

